<h2>Login</h2>
<form action="/api/sessions/login" method="POST">

    <label from="email">Email: </label>
    <input type="email" name="email" required>
    <br></br>
    
    <label from="password"> Password: </label>
    <input type="text" name="password" required>
    <br></br>

    <button type="submit">Login</button>
</form>