<h2>Restablecer Constrasenia</h2>
<form action="/api/password/reset/{{token}}" method="POST">
  <div class="mb-3">
    <label for="password">Nueva contrasenia</label>
    <input type="password" name="password" class="form-control" required />
  </div>
  <button type="submit" class="btn btn-dark">Actualizar</button>
</form>